
<!DOCTYPE html>
<html lang="en">
<head>
      <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="ScriptsBundle">
      <title> Halkın Gazetesi - Anasayfa </title>
      <link rel="shortcut icon" href="/static/deneme/images/favicon.ico" type="image/x-icon">
	  <link rel="icon" href="/static/deneme/images/favicon.ico" type="image/x-icon">
      <!-- Core Bootstrap File -->
      <link href="/static/deneme/css/bootstrap-normal-container.min.css" rel="stylesheet" type="text/css">
      <!-- ANIMATE CSS -->
      <link href="/static/deneme/css/animate.min.css" rel="stylesheet" type="text/css">
      <!-- ZERO GRID CSS -->
      <link href="/static/deneme/css/zerogrid.css" rel="stylesheet" type="text/css">
      <!-- Mega Menu -->
      <link rel="stylesheet" href="/static/deneme/css/megaMenu.css">
      <!-- Font Awesome Icons -->
      <link href="/static/deneme/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="/static/deneme/css/themify-icons.css" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
      <!-- Owl Slider Css -->
      <link href="/static/deneme/css/owl.carousel.css" rel="stylesheet" type="text/css">
      <link href="/static/deneme/css/owl.theme.default.css" rel="stylesheet" type="text/css">
      <!-- Template Core Css -->
      <link href="/static/deneme/css/style.css" rel="stylesheet" type="text/css">
      <link href="/static/deneme/css/breakingNews.css" rel="stylesheet" type="text/css">
      <link href="/static/deneme/css/magnific-popup.css" rel="stylesheet">
   
      <link rel="stylesheet" id="color" href="css/colors/defualt.css">

   </head>
   <!-- Body -->
   <body>
   {% block body %}
      <div id="preloader">
         <div id="status">
            <div class="spinner">
               <div class="rect1"></div>
               <div class="rect2"></div>
               <div class="rect3"></div>
               <div class="rect4"></div>
               <div class="rect5"></div>
            </div>
         </div>
      </div>
   
        <section class="topbar">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                  <div class="col-md-6 col-sm-3 col-xs-12">
                     <ul class="social-media-icons-top">
                        <li><a href="#"><i class="ti-facebook"></i> </a></li>
                        <li><a href="#"><i class="ti-twitter"></i></a></li>
                        <li><a href="#"><i class="ti-pinterest"></i></a></li>
                        <li><a href="#"><i class="ti-linkedin"></i></a></li>
                        <li><a href="#"><i class="ti-google"></i></a></li>
                        <li><a href="#"><i class="ti-youtube"></i></a></li>

                        <li>

            <form action="" class="search-form">
                <div class="form-group has-feedback">
            		<label for="search" class="sr-only">Search</label>
            		<input type="text" class="form-control" name="search" id="search" placeholder="search">
              		<span class="glyphicon glyphicon-search form-control-feedback"></span>
            	</div>
            </form>

   </li>
                     </ul>
                  </div>
                  <div class="col-md-6 col-sm-9 col-xs-12">
                     <ul class="">



                        {% if request.user.is_authenticated %}
                         <li><a href="/logout"> <i class="ti-user"></i> Çıkış </a></li>
                        <li><a href="/post"><i class="ti-share"></i> Yazı Ekle</a></li>
                         <li><a href="/profil"><i class="ti-user"></i> Profil</a></li>
                        {% else %}
                        <li><a href="/login"> <i class="ti-user"></i> Giriş</a></li>
                        <li><a href="/register"><i class="ti-share"></i> Kaydol</a></li>
                        {% endif %}

                        <li>Hoşgeldin {{ isim.isim }}</li>

                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="menu-container-section">
         <nav id="menu-3" class="megaMenu" data-color="">
            <div class="nav-container">
               <div class="sticky-container">
                  <!-- mobile trigger button for show the collapse drop down -->
                  <ul class="menu-mobile-trigger">
                     <li><i class="fa fa-bars"></i></li>
                  </ul>
                  <ul class="menu-logo hidden-md">
                     <li>
                        <a href="/">
                        <img src="/static/deneme/images/logo-small.png" class="img-responsive" alt="logo">
                        </a>
                     </li>
                  </ul>
                  <ul class="menu-search-bar-mobile">
                     <li>
                        <form action="#">
                           <button type="submit"><i class="fa fa-search"></i></button>
                        <input type="search" name="s" placeholder="Search...">
                        </form>
                     </li>
                  </ul>
                           <ul class="menu-links pull-right">
                       {% for kategori in kat.all %}
                     <li>
                        <a href="{{ kategori.id }}/kategoriIndex"><span class="text">  {{ kategori.katadi }} </span> </a>
                     </li>
                       {% endfor %}
                  </ul>
                  <ul class="menu-search-bar-desktop">
                     <li>
                        <a href="javascript:void(0)">
                        <i class="fa fa-search"></i>
                        </a>
                        <div id="open-1" class="drop-down">
                           <form action="#">
                              <input type="search" name="s" placeholder="Ara...">
                              <button type="submit">Ara</button>
                           </form>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>

  <section class="zerogrid-section">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12 col-xs-12 col-sm-12">
                  <div class="zerogrid">
                     <div class="row">


                        {% for post in pop %}
                        <div class="col-1-4">
                           <div class="wrap-col">
                              <div class="grid-item">
                                 <div class="post-content">
                                    <div class="catname">
                                       <a class="btn btn-green" href="#">
                                          <div>{{ post.user}}</div>
                                       </a>
                                    </div>
                                    <h5> <a href="/{{ post.id }} ">{{ post.baslik }}</a> </h5>
                                    <ul class="post-tools">
                                       <li>  {{ post.tarihi }} </li>

                                    </ul>
                                 </div>
                                 <div class="post-thumb thumb">
                                    {% if post.image %}
                                    <img alt="" style="max-height:217px;max-width:387px;min-height:217px;min-width:387px;" src="{{ post.image.url }}">
                                    {% else %}
                                    <img alt="" src="/static/noi.jpg">

                                    {% endif %}
                                 </div>
                              </div>
                           </div>

                        </div>
                        {% endfor %}

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
                                 <div class="row">
            <div class="col-md-6">
<div class="pagination">

<ul class="pagination">

        {% if pop.has_previous %}
            <li><a href="?page=1">first</a></li>
           <li> <a href="?page={{ pop.previous_page_number }}{% if request.GET.search %} & search={{ request.GET.search }} {% endif %}">previous</a></li>
        {% endif %}


       <li>     Page {{ pop.number }} of {{ pop.paginator.num_pages }} </li>


        {% if pop.has_next %}
           <li> <a href="?page={{ pop.next_page_number }}& search={{ request.GET.search }}">next</a></li>
           <li> <a href="?page={{ pop.paginator.num_pages }}">last</a></li>
        {% endif %}

     </ul>
</div></div>
         </div>

      <footer class="footer-2">
         <div class="footer-top">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="footer-block">
                        <img src="images/logo-small.png" alt="" class="logo-footer">
                        <div class="social-media-icons">
                           <ul>
                              <li> <a href="#"><i class="ti-facebook"></i></a></li>
                              <li> <a href="#"><i class="ti-twitter"></i></a></li>
                              <li> <a href="#"><i class="ti-instagram"></i></a></li>
                              <li> <a href="#"><i class="ti-linkedin"></i></a></li>
                              <li> <a href="#"><i class="ti-google"></i></a></li>
                              <li> <a href="#"><i class="ti-vimeo"></i></a></li>
                              <li> <a href="#"><i class="ti-pinterest"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="footer-footer-area">
                        <div class="copyright"> <span>&copy; 2017 Tüm Hakları Saklıdır.  By <a href="#">Halkın Gazetesi</a></span> </div>
                        <ul>
                           <li><a href="#">Anasayfa </a></li>
                           <li><a href="#">Hakkımızda</a></li>
                           <li><a href="#">Blog</a></li>
                           <li><a href="#">SSS</a></li>
                           <li><a href="#">Gizlilik Sözleşmesi </a></li>
                           <li><a href="#">İletişim</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-link">
            <div class="container">
            </div>
         </div>
      </footer>
      <a href="#" class="scrollup"><i class="fa fa-chevron-up"></i></a>
      <!-- MOZDERNIZR JS --> 
      <script src="/static/deneme/js/modernizr.js" type="text/javascript"></script>
      <!-- Core Jquery --> 
      <script src="/static/deneme/js/jquery.min.js" type="text/javascript"></script>
      <!-- Jquery Plugin --> 
      <script src="/static/deneme/js/jquery-migrate.min.js" type="text/javascript"></script>
      <!-- Bootstrap Core Js --> 
      <script src="/static/deneme/js/bootstrap.min.js" type="text/javascript"></script>
      <!-- Mega Menu Script -->
      <script src="/static/deneme/js/megaMenu.min.js"></script>
      <!-- Owl Slider --> 
      <script src="/static/deneme/js/owl.carousel.min.js" type="text/javascript"></script>
      <script src="/static/deneme/js/breakingNews.js" type="text/javascript"></script>
      <script src="/static/deneme/js/theia-sticky-sidebar.js" type="text/javascript"></script>
      <!-- Gallery Magnify  -->
      <script src="/static/deneme/js/jquery.magnific-popup.min.js"></script>
      <!--Style Switcher -->

      <!-- Template Custom Js --> 
      <script src="/static/deneme/js/custom.js" type="text/javascript"></script>
      <script>
         $(function () {
         	$(".post").slice(0, 10).show();
         	$("#loadMore").on('click', function (e) {
         		e.preventDefault();
         		$(".post:hidden").slice(0, 7).slideDown();
         		if ($(".post:hidden").length == 0) {
         			$("#loadMore").fadeOut('slow');
         		}
         		$('html,body').animate({
         			scrollTop: $(this).offset().top
         		}, 2000);
         	});
         });
      </script>
{% endblock %}
   </body>


</html>